table.vouchers-fields th, table.vouchers-fields td{
  display: list-item;
  padding: 0;
  list-style: none;
  background-color: transparent;
  text-align: left;
}
table.vouchers-fields .label{
  color:inherit;
  font-size:inherit;
}
table.vouchers-fields .value{
  margin-bottom: 1em;
}